.selected-items {
  position: sticky;
  top: 0;
}
.selected-items > div > h3 {
  margin-bottom: 80px;
  font-size: x-large;
}
.chooseMultiple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chooseMultiple button {
  width: 250px;
  margin-bottom: 5px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid steelblue;
  font-size: large;
}

.addedItemsDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addedItemsDelete button {
  height: 35px;
}
.addedItemsDelete p {
  margin-right: 30px;
}
.warning-messge {
  margin-bottom: 40px;
}
.random {
  border: 1px solid orange;
  width: 300px;
  height: 100px;
}
